

.flex {
  display: flex;
}

.search-bar {
  text-align: center;
}

.search-bar input {
  text-align: center !important;
  font-size: 2em;
  margin: 20px !important;
  padding: 5px;
  height: 60px;
  width: 50% !important;
  align-items: center;
}

.list-group-item {
  min-width: 400px;
  max-height: 100px;
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #FF5733 !important;
}

.loading-cycle {
  cursor: progress;
}

.detail-title {
  border: 0.5px solid #DEDFE2;
  border-bottom: none;
}

.detail-description {
  border: 0.5px solid #DEDFE2;
  border-top: none;
  font-family: sans-serif;
  font-size: 12px;
  margin-bottom: 20px;
}
